@use '../App.scss';


.callings-header{
    

    .callings-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .callings-nav-selection{
        width: 100%;
        max-width: 275px;
        margin: 0 auto;
        height: 50px;
        background-color: App.$secondary-color;
        color: App.$fourth-color;
        font-size: 1.5rem;
        font-family: App.$primary-font;
        border-radius: 5px;
    }
}