@use '../App.scss';

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.login-register{
    color: App.$third-color;
    text-decoration: underline;
}